@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4D4D4D;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ファーストビュー */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
}
.header > img {
    width: 10%;
    object-fit: contain;
    padding-left: 1.177%;
    padding-top: 6px;

}

.header_menu {
    display: flex;
}
.header_menu li {
    padding-left: 45px;
    width: 75.71px;
    padding-top: 37.44px;
}
.header_menu li:last-child {
    width: 140px;
}

.first_view_all {
    display: flex;
    justify-content:space-between;
    max-width: 1366px;
    margin: 0 auto;
}
.catch_copy {
    display: flex;
    flex-direction: column;
    padding-left: 4.06%;
    max-width: 1366px;
    margin: 0 auto;
}

.catch_copy > img {
    width: 454.99px;
    padding-top: 407px;
}


.skmt {
    padding-top: 45%;
    margin-left: -24%;
    width: 285.69px;
    padding-right: 25px;
}
.first_view_all > img {
    width: 1024.03px;
    margin-left: -100px;
    
}
.beginning_word {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
}
.beginning_word p {
font-size: 20px;
font-family: Yu Gothic;
font-weight: bold;
padding-top: 23.5%;
font-feature-settings: "palt";
text-align: center;
line-height: 2.75em;
position: relative;
left: -314px
}
.line img {
    padding-left: 269px;
    position: absolute;
    padding-top: 101px;
}

.works {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
}
.works > img {
    width: 31%;
    padding-left: 17.1%;
    padding-top: 91px;
}
.works_btn {
    padding-right: 13.94%;
    padding-top: 215px;
}
.works_btn p {
    font-size: 17px;
    font-family: Yu Gothic;
    font-weight: bold;
    line-height: 27px;

}
.about {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
}

.about > img {
    width: 32%;
    padding-left: 17.1%;
    margin-top: -91px;
}
.about_btn {
    padding-right: 20.94%;
    padding-top: 42px;
}
.about_btn p {
    font-size: 17px;
    font-family: Yu Gothic;
    font-weight: bold;
    line-height: 27px;

}
.contact {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
}

.contact > img {
    width: 33%;
    padding-left: 17.1%;
    margin-top: -63px;
}
.contact_btn {
    padding-right: 20.94%;
    padding-top: 47px;
}
.contact_btn p {
    font-size: 17px;
    font-family: Yu Gothic;
    font-weight: bold;
    line-height: 27px;

}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.since {
    padding-left: 10px;
}
footer {
    background-color: #f9d6e2;
    height: 54.41px;
    max-width: 2000px;
    margin-top: 100px;
}

footer p {
    font-size: 18px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 17.05px;
}
.top_btn {
    position: fixed;
    bottom: 77px;
    right: 82.64px;
    width: 30.69px;
}
.arrows_all > p {
    font-size: 28px;
    font-family: Yu Gothic;
    font-weight: bold;
    padding-left: 20.53%;
    margin-top: -230px;

}
.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	display: flex;
	height: 300px;/*画面いっぱいにする場合100vh*/
	margin: -3em auto;
	justify-content: center;
	align-items: center;
}
.cp_arrows .cp_arrow {
	position: absolute;
	top: 25%;/*着地点（サンプルは[class:cp_arrows]height300pxの50%）*/
	left: 22%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0;
}
.cp_arrows .cp_arrowfirst {
	-webkit-animation: arrow-move08 2s ease-in-out infinite;
	animation: arrow-move08 2s ease-in-out infinite;
}
.cp_arrows .cp_arrowsecond {
	-webkit-animation: arrow-move08 2s 1s ease-in-out infinite;
	animation: arrow-move08 2s 1s ease-in-out infinite;
}
.cp_arrows .cp_arrow:before, .cp_arrows .cp_arrow:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 30px;
	height: 3px;
	content: '';
	background: #E91E63;
}
.cp_arrows .cp_arrow:before {
	-webkit-transform: rotate(30deg) translateX(-39%);
	transform: rotate(30deg) translateX(-39%);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}
.cp_arrows .cp_arrow:after {
	-webkit-transform: rotate(-30deg) translateX(39%);
	transform: rotate(-30deg) translateX(39%);
	-webkit-transform-origin: top right;
	transform-origin: top right;
}
@-webkit-keyframes arrow-move08 {
	0% {
		top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes arrow-move08 {
	0% {
		top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}