@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4D4D4D;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ファーストビュー */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
}
.header > img {
    width: 10%;
    object-fit: contain;
    padding-left: 1.177%;
    padding-top: 6px;

}

.header_menu {
    display: flex;
}
.header_menu li {
	display: inline-block;
	padding: 0.3em;
	color: #f9d6e2;
    padding-left: 45px;
    width: 75.71px;
    padding-top: 37.44px;
}

.header_menu li:hover {
	animation: zoom .3s;
}
@keyframes zoom {
	50% {
		transform: scale(1.05);
	}
}
.header_menu li:last-child {
    width: 103px;
    margin-right: 60px;
}
.title {
    padding-left: 6.82%;
    padding-top: 58px;
    width: 50%;
}
.hr {
    border-bottom: 3px solid #b3b3b3;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* フォーム */
form {
    max-width:789px; 
    margin: 0 auto; 
    padding-top: 209.9px;
}

.feedback-input {
    color:#4D4D4D;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #999999;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 67px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #999999; }

textarea {
    height: 442px;
    line-height: 150%;
    resize:vertical;
}

[type="image"] {
width: 30%;
padding-top: 134.1px;
padding-left: 35%;
}

html {
    scroll-behavior: smooth;
}

.since {
    padding-left: 10px;
}
footer {
    background-color: #f9d6e2;
    height: 54.41px;
    max-width: 2000px;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    margin-top: 200px;
}

footer p {
    font-size: 18px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-top: 17.05px;
}
.top_btn {
    position: fixed;
    bottom: 77px;
    right: 33.64px;
    width: 30.69px;
    
}